
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### maven ##
target/
**/target/
.mvn
mvnw*
!.mvn/wrapper/maven-wrapper.jar
release/

### log ###
logs/
/stock-nacos/*.iml
/stock-nacos/target
/stock/*.iml
/stock/target
/product-nacos/*.iml
/product-nacos/target
/order-ribbon/*.iml
/order-ribbon/target
/gateway/*.iml
/order/target
/order/*.iml
/order-nacos/*.iml
/order-nacos/*.iml
/order-nacos/target
/order-openfeign/*.iml
/order-openfeign/target
